<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.0-beta2" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="3.0.0-beta2" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.for.Wpf.45.Xaml" version="2016.1.112" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.GridView.for.Wpf.45.Xaml" version="2016.1.112" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.45.Xaml" version="2016.1.112" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf.45.Xaml" version="2016.1.112" targetFramework="net451" />
  <package id="Telerik.Windows.Data.for.Wpf.45.Xaml" version="2016.1.112" targetFramework="net451" />
</packages>