<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.3" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="3.0.3" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml" version="2017.1.222" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.GridView.for.Wpf.Xaml" version="2017.1.222" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Xaml" version="2017.1.222" targetFramework="net451" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf.Xaml" version="2017.1.222" targetFramework="net451" />
  <package id="Telerik.Windows.Data.for.Wpf.Xaml" version="2017.1.222" targetFramework="net451" />
</packages>